/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 15 oct. 2017, 23:19:53
    Author     : jordy
*/

.vote
{
    width: 150px;
    float: right;
}

/* Barre de vote */
.vote_bar, .vote_progress
{
    height: 4px;
    display: inline-block;
}

.vote_bar
{
    width: 30%;
    background-color: red ;
}

.vote_progress
{
    width: 70%;
    background-color: green;
}

/* Bouton de vote */
.vote_btns
{
    margin-top: 10px;
    text-align: right;
}
.vote_btn
{
    border: none ;
    padding: 0 ;
    transition: color 0.3s;
    display: inline-block;
    cursor: pointer;
    margin: 0 0 0 16px;
    background: transparent;
}

.dislike:hover
{
    color: red;
}

.like:hover
{
    color: green;
}

.media-sharing
{
    margin-top: 40px; 
    padding: 2px;
}

/* Contenu page */
.main_content
{
    width: 65%;
    margin: auto;
    margin-top: 50px;
}

/* Contenu cmmentaire */
.article_comment_content
{
    margin-top: 40px;
    margin-bottom: 15px;
}

.article_comment_content .container-fluid
{
    border-bottom: 1px grey solid ;
    margin-bottom: 10px; 
}

.article_comment_content .comment_header
{
    background-color: #3494b7;
    color: white;
    padding: 3px;
}

.article_comment_content .comment_header .date_comment, .editlink_content
{
    float: right;
}

/* Edit form*/
.editlink_content form
{
    display: inline;
}

.btn, .editlink_content form .btn, .editlink_content a
{
    margin-bottom: 2%;
    border-radius: 0px;
}

.editlink_content button
{
    border: none;
    background: transparent;
}

.editlink_content .glyphicon-off, .glyphicon-edit
{
    color: black;
    padding-bottom: 3px;
}

/* Contenu article */
.article_content
{
    margin-top: 20px;
    margin-bottom: 20px;
}

.card
{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding-left: 5px ;
    padding-top: 2px;
    padding-bottom: 2px;

    background-color: #F8F8FF;
}

/* Contenu navbar */
.navbar
{
    border-radius: 0px ; 
}

/* contenu formulaire */
.login_content
{
    margin: auto;
    margin-top: 70px;
    width: 100%;
}

.login_content label
{
    margin-right: 5px;
}

.submit_content .btn-primary, .login_form label
{
    margin-left: 15px;
}

.submit_content input
{
    padding-left: 10px;
}

.history_content_item
{
    border: 1px solid black ;
    background-color: #888a85 ;
    padding: 10px;
    color: beige;
    font-size: 1.1em;
}